body {
	font-family: helvetica, sans-serif;
	background-color: antiquewhite;
}

h1, h2 {
	text-align: center;
}

table {
	border: 2px solid crimson;
	width: 650px;
	margin: 0 auto;
}

thead {
	background-color: burlywood;
}

td {
	border-top: 1px solid crimson;
	border-left: 1px solid crimson;
	padding: 5px;
}

.code {
	font-family: monospace;
	background-color: ghostwhite;
}
